@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Variable.ttf");
}

@font-face {
  font-family: "Cormorant";
  src: url("./assets/fonts/CormorantGaramond-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("./assets/fonts/CormorantGaramond-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("./assets/fonts/CormorantGaramond-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("./assets/fonts/CormorantGaramond-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("./assets/fonts/CormorantGaramond-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: "Inter";
}

h1 {
  font-family: "Cormorant";
}

input {
  outline: none;
}

.main-container {
  grid-template-columns: minmax(535px, 1fr) 750px;
}

.hide {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.cv {
  background-color: rgb(240, 240, 240);
  font-family: "Cormorant";
}

.edu-container div:first-child {
  border-color: black;
}

@media (max-width: 1200px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
}
